.contact {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  // div {border: solid 1px red;}
  .contactHeaderAndForm {
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 20px;
    .header2 h2{
      font-size: 50px;
      color: $aqua;
    }
    .contactForm {
      // padding: 20px;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          width: 100%;
          background-color: $lightBlack;
          border: solid 1px $aqua;
          margin: 10px 0;
          height: 50px;
          color: $aqua;
          padding: 5px 20px;
        }
        textarea {
          background-color: $lightBlack;
          color: $aqua;
          border: solid 1px $aqua;
          width: 100%;
          padding: 20px 20px;
          margin: 10px 0;
        }
        button {
          margin: 10px 0;
          width: 100%;
          height: 50px;
          background-color: $aqua;
          color: $white;
          border: none;
        }
      }
    }
  }
  .lastDiv {
    padding: 40px;
    display: grid;
    grid-template-rows: 2fr 3fr;
    background-color: $black;
    .circles {
      display: grid;
      place-items: center;
      justify-self: end;
      height: 200px;
      width: 200px;
      border-radius: 100%;
      background-color: $aqua;
      .inner {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background-color: $black;
      }
    }
  }
}