header {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 3fr 1fr;
  section {
    background-color: $aqua;
    &:nth-of-type(2) {
      background-color: $lightBlack;
    }
  }
  .proImgSection {
    display: grid;
    grid-template-columns: 1fr;
    figure {
      justify-self: center;
      align-self: center;
      // border: solid 1px red;
      max-height: 600px;
      max-width: 450px;
      min-height: 450px;
      min-width: 350px;
    }
  } .eliptical{
    position: relative;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: $lightBlack;
    display: grid;
    place-items: center;
    .innerEliptical {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: $aqua;
    }
  }
  .network {
    background-color: $black;
    padding: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    grid-row-gap: 25px;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        margin: 0 25px;
        a {
          font-size: 24px;
        }
      }
    }
    h2 {
      color: $aqua;
      font-size: 40px;
      margin: 0;
      justify-self: center;
    }
  }
}