.intro {
  min-height: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-rows: 3fr 2fr;
  grid-gap: 10px;
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .nameTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 80px;
        color: $aqua;
        margin: 0.33em 0;
      }
      h2 {
        font-size: 40px;
      }
      h2, h3{
        color: $white;
        margin: 0;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 50px;
      }
      .buttonWrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    .circles {
      display: grid;
      place-items: start end;
      .outer {
        display: grid;
        place-items: center;
        width: 200px;
        height: 200px;
        background-color: $aqua;
        border-radius: 100%;
        .inner {
          width: 100px;
          height: 100px;
          background-color: $lightBlack;
          border-radius: 100%;
        }
      }
    }
  }
  .figureContainer {
    display: flex;
    figure {
      // border: solid 1px blue;
      width: 50%;
      height: 100%;
    }
    figure:nth-of-type(1) {
      background-image: url('../../assets/darkComp.jpg');
      background-position: center;
    }
    figure:nth-of-type(2) {
      background-image: url('../../assets/gComputerSmall.jpg');
      background-position: center;
    }
  }
}

