main {
  -ms-overflow-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.intro {
  display: none;
}

.about {
  padding: 20px;
  max-height: 200vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2 {
    margin: 0;
  }
  .buttonWrap a {
    justify-self: end;
  }
}

.bio {
  background-color: $black;
  padding: 10px;
  border-radius: 10px;
}

.edu {
  display: none;
}

.dOnly {display: none;}

.portfolio {
  // padding: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  h2 {
    margin: 0;
    margin-bottom: 25px;
  }
}

.projectContainer {
  scroll-snap-type: x mandatory;
    overflow-y: scroll;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  // grid-template-columns: 1fr 1fr;
  flex-wrap: nowrap;
  background-color: $black;
  width: 100%;
  padding: 10px;
  .project {
    h2.h2, p.p, h3.h3, h4.h4 {
      margin-bottom: 25px;
    }
    padding: 25px;
    margin: 0 10px;
    width: 100%;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}

.projectNavContainer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  grid-column-gap: 25px;
}

.leftArrow, .rightArrow {
  background-color: $lightBlack;
  height: 200px;
  width: 20%;
  // border: solid 1px red;
  i {
    font-size: 4em;
    color: $aqua;
  }
}

.contact {
  padding: 20px;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  h2 {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactInfo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  li i {
    color: $aqua;
    font-size: 3em;
  }
  .emailIcon {
    display: grid;
    place-items: end;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  input {
    padding: 5px 10px;
    color: $aqua;
    display: block;
    width: 100%;
    height: 50px;
    background-color: $black;
    border: solid 1px $aqua;
  }
  textarea {
    height: 100px;
    background-color: $black;
    border: solid 1px $aqua;
    padding: 10px 10px;
    color: $aqua;
  }
}

.submit {
  background-color: $aqua;
  color: $white;
  height: 50px;
  padding: 5px 0;
}
