.mainWrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2.5fr 5fr;
  header {
    min-width: 320px;
  }
  main {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}