@media only screen and (max-width: 1300px) {
  .mainWrap {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    .header1 {
      order: 2;
      .proImgSection {
        overflow: hidden;
      }
      .network {
        place-items: center;
        grid-auto-rows: auto;
        h2 {
          align-self: center;
          justify-self: center;
        }
        ul {
          justify-self: center;
          align-self: center;
        }
      }
    }
    main {
      order: 1;
      overflow: visible;
      .intro {
        min-height: 100vh;
        max-height: 100vh;
        grid-template-rows: 1fr 1fr;
      }
      .about {
        min-height: 100vh;
        max-height: 100vh;
      }
      .contact {
        min-height: 100vh;
        max-height: 100vh;
        overflow: hidden;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  main {
    .about {
      grid-template-columns: 1fr;
      .skills {
        display: none;
      }
    }
    .projects {
      .projectsContainer {
        .projectInfo {
          grid-template-columns: 1fr;
          figure {
            height: 150px;
            width: 150px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .mainWrap .header1 {
    // min-height: 100px;
    max-height: 900px;
    .network h2{
      display: none;
    }

    .network ul {
      padding-top: 25px;
      align-self: start;
      grid-row: 1/2;
    }
  }
  .intro {
    padding: 0;
    grid-template-columns: 1fr;
  }

  .intro article {
    grid-row:  1/3;
  }

  .intro article .nameTitle .textWrap .buttonWrap {
    grid-column-gap: 25px;
  }

  .intro article .circles {
    display: none;
  }
  .intro .figureContainer {
    display: none;
  }

  .about .bioEduAndExp {
    padding: 0;
    .edu, .exp {
      display: none;
    }

    .bio {
      
      grid-row: 1/4;
      display: grid;
      grid-template-columns: 1fr;
      h2 {
        margin: 0;
      }
      .buttonWrap {
        grid-template-columns: 25px;
      }
    }
  }

  .projects .header .circles {
    display: none;
  }

  .projects .projectsContainer {
    .projectInfo:nth-of-type(3) {
      display: none;
    }
  }

  .projects .projectsContainer .projectInfo p {
    display: none;
  }

  .first, .second {
    display: none;
  }

  .header2 h2 {
    margin: 0;
    align-self: center;
  }

  .contact {
    grid-template-columns: 1fr;
    .lastDiv {
      display: none;
    }
    .contactForm {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

