@media only screen and (min-width: 1250px) {
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
  }
  
  .root {
    height: 100vh;
    flex-direction: row;
  }

  .header1 {
    width: 30%;
  }

  main {
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100vh;
    overflow-y: scroll;
    section {
      scroll-snap-align: start;
      height: 100vh;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    article {
      // border: solid 1px red;
      height: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      padding: 25px 50px 25px 25px;
      .nameSection {
        overflow: hidden;
        h1 {
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          border-right: .1em solid $aqua; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
          // letter-spacing: .15em; /* Adjust as needed */
          animation: 
            typing 2s steps(40, end),
            blink-caret .75s step-end infinite;
        }
        h2, h3 {
          color: $white;
          margin: 0;
        }
        h3 {
          margin-bottom: 25px;
        }
      }
      .circles {
        justify-self: end;
        align-self: start;
        height: 200px;
        width: 200px;
        border-radius: 100%;
        background-color: $aqua;
        display: grid;
        place-items: center;
        .inner {
          width: 100px;
          height: 100px;
          background-color: $lightBlack;
          border-radius: 100%;
        }
      }
    }
    .imageSection {
      height: 40%;
      display: flex;
      figure {
        width: 50%;
        // border: solid 1px red;
      }
      figure:nth-of-type(1) {
        background-image: url('../../assets/darkComp.jpg');
      }
      figure:nth-of-type(2) {
        background-image: url('../../assets/gComputerSmall.jpg');
        background-position: center;
      }
    }
  }

  .about {
    height: 100%;
    .edu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .gridItems {
        display: flex;
        flex-direction: column;
        h2 {
          margin-bottom: 25px;
        }
        &:nth-of-type(1) {
          border-right: solid 1px $aqua;
        }
        &:nth-of-type(2) {
          h2 {
            margin: 0;
          }
          padding-left: 10px;
          display: grid;
          grid-template-columns: 1fr;
        }
        .schools {
          display: flex;
          flex-direction: column;
          .schoolInfo {
            display: flex;
            flex-direction: column;
            .circleAndSchool {
              width: 50%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .circles {
                height: 20px;
                width: 20px;
                border-radius: 100%;
                background-color: $aqua;
                display: grid;
                place-items: center;
                .inner {
                  height: 10px;
                  width: 10px;
                  border-radius: 100%;
                  background-color: $black;
                }
              }
            }
            p {
              width: 90%;
              margin-top: 0;
            }
          }
        }
        .skillIconsContainer {
          margin-bottom: 50px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-row-gap: 100px;
          place-items: center;
          .skillNameAndIcon {
            text-align: center;
            i {
              font-size: 3em;
              color: $aqua;
              transition: all 0.25s ease-in;
              &:hover {
                color: $white;
                font-size: 3.5em;
              }
            }
          }
        }
      }
    }
  }

  .portfolio {
    padding: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    h2 {
      margin: 0;
      margin-bottom: 25px;
    }
  }
  
  .projectContainer {
    scroll-snap-type: x mandatory;
      overflow-y: scroll;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    // grid-template-columns: 1fr 1fr;
    flex-wrap: nowrap;
    background-color: $black;
    width: 100%;
    padding: 10px;
    .project {
      h2.h2, p.p, h3.h3, h4.h4 {
        margin-bottom: 25px;
      }
      padding: 25px;
      margin: 0 10px;
      width: 100%;
      flex: 0 0 auto;
      scroll-snap-align: start;
    }
  }
  
  .projectNavContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 25px;
  }
  
  .leftArrow, .rightArrow {
    background-color: $lightBlack;
    height: 200px;
    width: 10%;
    // border: solid 1px red;
    i {
      font-size: 4em;
      color: $aqua;
    }
  }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $aqua; }
}}

@media only screen and (max-height: 800px) {
  .intro article .circles {
    margin-top: 25px;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: start;
    align-self: start;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: #19D5B2;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

  .intro article {
    height: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 50px 25px 25px;
  }
  .about {
    .h1 {
      font-size: 60px;
      color: #19D5B2;
      font-family: 'Rubik', sans-serif;
    }
  
    .h2 {
      font-size: 30px;
      color: #19D5B2;
      font-family: 'Rubik', sans-serif;
    }
  
    .h3 {
      font-size: 18px;
      color: #19D5B2;
      margin: 0;
      font-family: 'Rubik', sans-serif;
  }
  
  .h4 {
    font-size: 16px;
    color: #19D5B2;
    font-family: 'Karla', sans-serif;
  }
  
    .p {
      font-size: 14px;
      color: #FFFFFF;
      line-height: 1.7;
      font-family: 'Karla', sans-serif;
    }
  }

  .projectContainer {
    scroll-snap-type: x mandatory;
    // overflow-y: scroll;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    // grid-template-columns: 1fr 1fr;
    flex-wrap: nowrap;
    background-color: $black;
    width: 100%;
    padding: 10px;
    .project {
      h2.h2, p.p, h3.h3, h4.h4 {
        margin-bottom: 25px;
      }
      padding: 25px;
      margin: 0 10px;
      width: 100%;
      flex: 0 0 auto;
      scroll-snap-align: start;
    }
  }


  .projectNavContainer {
    // margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column-gap: 25px;
}


  .leftArrow, .rightArrow {
    background-color: #141414;
    height: 100px;
    width: 10%;
}
}