.h1 {
  font-size: 80px;
  color: $aqua;
}

.h2 {
  font-size: 40px;
  color: $aqua;
}

.h3 {
  font-size: 24px;
  color: $aqua;
  margin: 0;
}

.h4 {
  font-size: 14px;
  color: $aqua;
}

.p {
  font-size: 18px;
  color: $white;
  line-height: 1.7;
}