// Util
$lightBlack: #141414;
$black: #0E0E0E;
$aqua: #19D5B2;
$white: #FFFFFF;
$hotPink: #f12365;
$blue: #2389f1;

html {
  // overflow: hidden;
}
body {
  background-color: $lightBlack;

}

img {
  max-width: 100%;
}

button {
  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  color: $white;
  text-decoration: none;
}

a:hover {
  color: $aqua;
}

.wrapper {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}

.buttonWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-column-gap: 10px;
}

.primaryButton {
  justify-self: start;
  background-color: $aqua;
  color: $white;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  p {
    margin: 0;
  }
}

.secondaryButton {
  justify-self: end;
  background-color: $white;
  color: $aqua;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  p {
    margin: 0;
  }
}
// Util End