html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #141414;
}

body canvas {
  position: absolute;
  z-index: -2;
}

img {
  max-width: 100%;
}

button {
  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #19D5B2;
}

.wrapper {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}

.buttonWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.primaryButton {
  padding: 0;
  -ms-grid-column-align: start;
      justify-self: start;
  background-color: #19D5B2;
  color: #FFFFFF;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.primaryButton p {
  margin: 0;
}

.primaryButton:hover {
  padding: 10px;
  color: #19D5B2;
  background-color: white;
}

.secondaryButton {
  padding: 0;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #FFFFFF;
  color: #19D5B2;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.secondaryButton p {
  margin: 0;
}

.secondaryButton:hover {
  padding: 10px;
  color: #FFFFFF;
  background-color: #19D5B2;
}

.h1 {
  font-size: 80px;
  color: #19D5B2;
  font-family: 'Rubik', sans-serif;
}

.h2 {
  font-size: 40px;
  color: #19D5B2;
  font-family: 'Rubik', sans-serif;
}

.h3 {
  font-size: 24px;
  color: #19D5B2;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.h4 {
  font-size: 18px;
  color: #19D5B2;
  font-family: 'Karla', sans-serif;
}

.p {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.7;
  font-family: 'Karla', sans-serif;
}

button, input, textarea {
  font-family: 'Karla', sans-serif;
}

.root {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header1 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aquaBackDrop {
  height: 75%;
  width: 100%;
  background-color: #19D5B2;
  display: -ms-grid;
  display: grid;
  place-items: end center;
}

.asifImg {
  background-image: url("../../assets/asifPort.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.asifImg img {
  height: 100%;
  width: 100%;
}

.network {
  padding: 25px;
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0E0E0E;
}

.network ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.network ul li {
  margin: 0 20px;
}

.network ul li a i {
  font-size: 2em;
}

.network h2 {
  margin-top: 10px 0;
}

.menuArea {
  padding: 20px;
  position: fixed;
}

input {
  display: none;
}

.open {
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  cursor: pointer;
  float: left;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0E0E0E;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  padding: 10px 0;
}

.menu ul li a:hover {
  color: #141414;
}

.menu ul li:hover {
  background: aqua;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

main {
  -ms-overflow-style: none;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.intro {
  display: none;
}

.about {
  padding: 20px;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about h2 {
  margin: 0;
}

.bio {
  background-color: #0E0E0E;
  padding: 10px;
  border-radius: 10px;
}

.edu {
  display: none;
}

.dOnly {
  display: none;
}

.portfolio {
  padding: 20px;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio h2 {
  margin: 0;
}

.projectContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

.projects {
  padding: 10px;
  background-color: #0E0E0E;
  border-radius: 10px;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.projects a {
  width: 100%;
}

.projects figure {
  width: 100%;
  min-height: 150px;
}

.projects .pokedex {
  background-image: url("../../assets/pokemon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.projects .zoltar {
  background-image: url("../../assets/zoltarTablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.contact {
  padding: 20px;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact h2 {
  margin: 0;
}

.contactInfo {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contactInfo li i {
  color: #19D5B2;
  font-size: 3em;
}

.contactInfo .emailIcon {
  display: -ms-grid;
  display: grid;
  place-items: end;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 25px;
}

.form input {
  padding: 5px 10px;
  color: #19D5B2;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #0E0E0E;
  border: solid 1px #19D5B2;
}

.form textarea {
  height: 100px;
  background-color: #0E0E0E;
  border: solid 1px #19D5B2;
  padding: 10px 10px;
  color: #19D5B2;
}

.submit {
  background-color: #19D5B2;
  color: #FFFFFF;
  height: 50px;
  padding: 5px 0;
}

@media only screen and (min-width: 1250px) {
  html {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
  }
  .root {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header1 {
    width: 30%;
  }
  main {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 100vh;
    overflow-y: scroll;
  }
  main section {
    scroll-snap-align: start;
    height: 100vh;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro article {
    height: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 25px 50px 25px 25px;
  }
  .intro article .nameSection {
    overflow: hidden;
  }
  .intro article .nameSection h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.1em solid #19D5B2;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    -webkit-animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
            animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  .intro article .nameSection h2, .intro article .nameSection h3 {
    color: #FFFFFF;
    margin: 0;
  }
  .intro article .nameSection h3 {
    margin-bottom: 25px;
  }
  .intro article .circles {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row-align: start;
        align-self: start;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: #19D5B2;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .intro article .circles .inner {
    width: 100px;
    height: 100px;
    background-color: #141414;
    border-radius: 100%;
  }
  .intro .imageSection {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro .imageSection figure {
    width: 50%;
  }
  .intro .imageSection figure:nth-of-type(1) {
    background-image: url("../../assets/darkComp.jpg");
  }
  .intro .imageSection figure:nth-of-type(2) {
    background-image: url("../../assets/gComputerSmall.jpg");
    background-position: center;
  }
  .about {
    height: 100%;
  }
  .about .edu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about .edu .gridItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .edu .gridItems h2 {
    margin-bottom: 25px;
  }
  .about .edu .gridItems:nth-of-type(1) {
    border-right: solid 1px #19D5B2;
  }
  .about .edu .gridItems:nth-of-type(2) {
    padding-left: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about .edu .gridItems:nth-of-type(2) h2 {
    margin: 0;
  }
  .about .edu .gridItems .schools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .edu .gridItems .schools .schoolInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .edu .gridItems .schools .schoolInfo .circleAndSchool {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .edu .gridItems .schools .schoolInfo .circleAndSchool .circles {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #19D5B2;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .about .edu .gridItems .schools .schoolInfo .circleAndSchool .circles .inner {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #0E0E0E;
  }
  .about .edu .gridItems .schools .schoolInfo p {
    width: 90%;
    margin-top: 0;
  }
  .about .edu .gridItems .skillIconsContainer {
    margin-bottom: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 100px;
    place-items: center;
  }
  .about .edu .gridItems .skillIconsContainer .skillNameAndIcon {
    text-align: center;
  }
  .about .edu .gridItems .skillIconsContainer .skillNameAndIcon i {
    font-size: 3em;
    color: #19D5B2;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  .about .edu .gridItems .skillIconsContainer .skillNameAndIcon i:hover {
    color: #FFFFFF;
    font-size: 3.5em;
  }
  .portfolio {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio .projectContainer .projects {
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio .projectContainer .projects .projectInfo {
    padding: 10px 0;
    width: 50%;
  }
  .portfolio .projectContainer .projects .projectInfo .dOnly {
    display: block;
  }
  .portfolio .projectContainer .projects a figure {
    background-position: right;
    border: none;
    width: 100%;
  }
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #19D5B2;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #19D5B2;
  }
}
